{{> head }}

<body class="b-body">


<div class="b-page">
<div class="b-page__wrap">

{{> header }}

<div class="b-wrapper">
<div class="b-content">
<section class="b-grid">
<section class="b-grid__col b-grid__col_1">


    {{>nav}}

</section>


<aside class="b-grid__col b-grid__col_2">

    {{>product-card}}

<section class="b-prod-addon">
    <div class="b-title">
        Вам может понадобиться
    </div>
    <div class="b-prod-addon__box">
        {{#each products2}}
            <div class="b-round-box b-prod-addon__el">
                <div class="b-product b-product_type_addon b-prod-addon__el-in">
                    <figure class="b-product__pic">
                        <a href="">
                            <img class="b-product__img" src="{{img}}" alt="">
                        </a>
                    </figure>
                    <div class="b-product__t">
                        <a class="b-product__t-l" href="">{{name}}</a>
                    </div>
                    <div class="b-product__price">
                        от {{price}} руб.
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</section>

<section class="b-prod-addon js-prod-addon">
    <div class="b-title">
        Вам может понадобиться
    </div>
    <div class="b-prod-addon__box">
        {{#each products2}}
            <div class="b-round-box b-prod-addon__el">
                <div class="b-product b-product_type_addon b-prod-addon__el-in">
                    <figure class="b-product__pic">
                        <a href="">
                            <img class="b-product__img" src="{{img}}" alt="">
                        </a>
                    </figure>
                    <div class="b-product__t">
                        <a class="b-product__t-l" href="">{{name}}</a>
                    </div>
                    <div class="b-product__price">
                        от {{price}} руб.
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</section>

<section class="b-prod-addon js-prod-addon">
    <div class="b-title">
        Вам может понадобиться
    </div>
    <div class="b-prod-addon__box">
        {{#each products2}}
            <div class="b-round-box b-prod-addon__el">
                <div class="b-product b-product_type_addon b-prod-addon__el-in">
                    <figure class="b-product__pic">
                        <a href="">
                            <img class="b-product__img" src="{{img}}" alt="">
                        </a>
                    </figure>
                    <div class="b-product__t">
                        <a class="b-product__t-l" href="">{{name}}</a>
                    </div>
                    <div class="b-product__price">
                        от {{price}} руб.
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</section>

<section class="b-prod-addon">
    <div class="b-title">
        100% аналоги
    </div>
    <div class="b-prod-addon__box">
        {{#each products2}}
            <div class="b-round-box b-prod-addon__el">
                <div class="b-product b-product_type_addon b-prod-addon__el-in">
                    <figure class="b-product__pic">
                        <a href="">
                            <img class="b-product__img" src="{{img}}" alt="">
                        </a>
                    </figure>
                    <div class="b-product__t">
                        <a class="b-product__t-l" href="">{{name}}</a>
                    </div>
                    <div class="b-product__price">
                        от {{price}} руб.
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</section>
</aside>

<section class="b-grid__col b-grid__col_3">
    {{>basket}}

    <div class="b-round-box b-box_3">
        <div class="b-round-box__inner">
            <div class="b-title">Вы смотрели</div>
            <div class="b-product">
                <figure class="b-product__pic">
                    <a href="">
                        <img src="tmp/prod1.jpg" alt="">
                    </a>
                </figure>
                <div class="b-product__t">
                    <a class="b-product__t-l" href="">Синупрет (таблетки) 150 шт.</a>
                </div>
                <div class="b-product__price">
                    от 180 руб.
                </div>
            </div>
            <div class="b-separator"></div>
            <div class="b-product">
                <figure class="b-product__pic">
                    <a href="">
                        <img src="tmp/prod2.jpg" alt="">
                    </a>
                </figure>
                <div class="b-product__t">
                    <a class="b-product__t-l" href="">Синупрет (таблетки) 150 шт.</a>
                </div>
                <div class="b-product__price">
                    от 180 руб.
                </div>
            </div>
        </div>
    </div>

    <section class="b-w-reviews">
        <h2 class="b-title">Отзывы </h2>
        <section class="b-w-reviews__box">
            {{#each prodComments}}
                <div class="b-w-reviews__item">
                    <div class="b-w-reviews__h">
                        <b class="b-w-reviews__name">
                            {{author}}
                        </b>
                        <span class="b-w-reviews__date">
                            {{date}}
                        </span>
                    </div>
                    <div class="b-w-reviews__txt">
                        {{text}}
                    </div>
                </div>
            {{/each}}
        </section>

        <div>
            <a data-toggle="modal" data-target="#js-call-modal-add-comment" class="b-button" href="">Добавить отзыв</a>
        </div>
    </section>

</section>

</section>

</div>
</div>


</div>

{{>footer}}

</div>

{{>modals}}

<script type="text/template">
    <div class="b-auto-basket">asdasdasd</div>
</script>

<script src="{{srcJs}}"></script>

</body>
</html>

